:root {
  /* PRIMARY */
  --color-red-50: #ffebeb;
  --color-red-100: #ffe5e5;
  --color-red-200: #ffbfbf;
  --color-red-300: #ff8080;
  --color-red-400: #ff4040;
  --color-red-500: #ff0000;
  --color-red-600: #bf0000;
  --color-red-700: #800000;
  --color-red-800: #600000;
  --color-red-900: #400000;
  --color-red-950: #330000;
  --color-yellow-50: #ffffea;
  --color-yellow-100: #fffcc5;
  --color-yellow-200: #fffa85;
  --color-yellow-300: #fff146;
  --color-yellow-400: #ffe31b;
  --color-yellow-500: #ffc400;
  --color-yellow-600: #e29800;
  --color-yellow-700: #bb6c02;
  --color-yellow-800: #985308;
  --color-yellow-900: #7c440b;
  --color-yellow-950: #482300;
  --color-orange-50: #fff5ec;
  --color-orange-100: #ffe8d3;
  --color-orange-200: #ffcda5;
  --color-orange-300: #ffaa6d;
  --color-orange-400: #ff7b32;
  --color-orange-500: #ff570a;
  --color-orange-600: #ff3c00;
  --color-orange-700: #cc2702;
  --color-orange-800: #a1200b;
  --color-orange-900: #821d0c;
  --color-orange-950: #460b04;
  --color-blue-50: #edfbff;
  --color-blue-100: #d7f3ff;
  --color-blue-200: #b9ecff;
  --color-blue-300: #88e2ff;
  --color-blue-400: #50cfff;
  --color-blue-500: #28b3ff;
  --color-blue-600: #0693ff;
  --color-blue-700: #0a7eeb;
  --color-blue-800: #0f64be;
  --color-blue-900: #135695;
  --color-blue-950: #11345a;
  --color-green-50: #edf8eb;
  --color-green-100: #e7f6e5;
  --color-green-200: #c3e9bf;
  --color-green-300: #86d280;
  --color-green-400: #4abc40;
  --color-green-500: #0da500;
  --color-green-600: #109204;
  --color-green-700: #0c6304;
  --color-green-800: #094a03;
  --color-green-900: #063202;
  --color-green-950: #031901;
  --color-purple-50: #ede8fa;
  --color-purple-100: #e0d7fb;
  --color-purple-200: #c6b3fc;
  --color-purple-300: #ad90fd;
  --color-purple-400: #936cfe;
  --color-purple-500: #7949ff;
  --color-purple-600: #653fd0;
  --color-purple-700: #5134a1;
  --color-purple-800: #3d2a73;
  --color-purple-900: #291f44;
  --color-purple-950: #1f1a2c;
  --color-pink-50: #feebff;
  --color-pink-100: #fee5ff;
  --color-pink-200: #febfff;
  --color-pink-300: #fc80ff;
  --color-pink-400: #fb40ff;
  --color-pink-500: #fa00ff;
  --color-pink-600: #bb00bf;
  --color-pink-700: #7d0080;
  --color-pink-800: #5e0060;
  --color-pink-900: #3f0040;
  --color-pink-950: #1f0020;
  --color-grey-50: #fafafa;
  --color-grey-100: #efefef;
  --color-grey-200: #dcdcdc;
  --color-grey-300: #bdbdbd;
  --color-grey-400: #989898;
  --color-grey-500: #7c7c7c;
  --color-grey-600: #656565;
  --color-grey-700: #525252;
  --color-grey-800: #464646;
  --color-grey-900: #3d3d3d;
  --color-grey-950: #292929;
  --color-grey-150: #e0e0e0;
  --color-grey-1000: #1f1f1f;
  --color-grey-1100: #151515;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey-250: #d1d1d1;
  --color-grey-75: #f7f7f7;
  --color-grey-350: #aeaeae;
  --type-font_family-jp: "Noto Sans JP";
  --type-font_family-en: "Inter";
  --type-font_weight-noto-sans-jp-thin: "thin";
  --type-font_weight-noto-sans-jp-light: "light";
  --type-font_weight-noto-sans-jp-demilight: "DemiLight";
  --type-font_weight-noto-sans-jp-regular: "regular";
  --type-font_weight-noto-sans-jp-medium: "medium";
  --type-font_weight-noto-sans-jp-bold: "bold";
  --type-font_weight-noto-sans-jp-black: "black";
  --type-font_weight-inter-thin: "Thin";
  --type-font_weight-inter-extra_light: "Extra Light";
  --type-font_weight-inter-light: "Light";
  --type-font_weight-inter-regular: "Regular";
  --type-font_weight-inter-medium: "Medium";
  --type-font_weight-inter-semi_bold: "Semi Bold";
  --type-font_weight-inter-bold: "Bold";
  --type-font_weight-inter-black: "black";
  --type-font_weight-inter-extra_bold: "Extra Bold";
  --scale-0: 0px;
  --scale-0-rem: 0rem;
  --scale-4: 4px;
  --scale-4-rem: 0.25rem;
  --scale-8: 8px;
  --scale-8-rem: 0.5rem;
  --scale-12: 12px;
  --scale-12-rem: 0.75rem;
  --scale-16: 16px;
  --scale-16-rem: 1rem;
  --scale-20: 20px;
  --scale-20-rem: 1.25rem;
  --scale-24: 24px;
  --scale-24-rem: 1.5rem;
  --scale-28: 28px;
  --scale-28-rem: 1.75rem;
  --scale-32: 32px;
  --scale-32-rem: 2rem;
  --scale-36: 36px;
  --scale-36-rem: 2.25rem;
  --scale-40: 40px;
  --scale-40-rem: 2.5rem;
  --scale-44: 44px;
  --scale-44-rem: 2.75rem;
  --scale-48: 48px;
  --scale-48-rem: 3rem;
  --scale-52: 52px;
  --scale-52-rem: 3.25rem;
  --scale-56: 56px;
  --scale-56-rem: 3.5rem;
  --scale-60: 60px;
  --scale-60-rem: 3.75rem;
  --scale-64: 64px;
  --scale-64-rem: 4rem;
  --scale-72: 72px;
  --scale-72-rem: 4.5rem;
  --scale-76: 76px;
  --scale-76-rem: 4.75rem;
  --scale-80: 80px;
  --scale-80-rem: 5rem;
  --scale-84: 84px;
  --scale-84-rem: 5.25rem;
  --scale-88: 88px;
  --scale-88-rem: 5.5rem;
  --scale-92: 92px;
  --scale-92-rem: 5.75rem;
  --scale-96: 96px;
  --scale-96-rem: 6rem;
  --scale-100: 100;

  /* ALIAS */
  --color-error-50: var(--color-red-50);
  --color-error-100: var(--color-red-100);
  --color-error-200: var(--color-red-200);
  --color-error-300: var(--color-red-300);
  --color-error-400: var(--color-red-400);
  --color-error-default: var(--color-red-500);
  --color-error-600: var(--color-red-600);
  --color-error-700: var(--color-red-700);
  --color-error-800: var(--color-red-800);
  --color-error-900: var(--color-red-900);
  --color-error-950: var(--color-red-950);
  --color-main-50: var(--color-purple-50);
  --color-main-100: var(--color-purple-100);
  --color-main-200: var(--color-purple-200);
  --color-main-300: var(--color-purple-300);
  --color-main-400: var(--color-purple-400);
  --color-main-default: var(--color-purple-500);
  --color-main-600: var(--color-purple-600);
  --color-main-700: var(--color-purple-700);
  --color-main-800: var(--color-purple-800);
  --color-main-900: var(--color-purple-900);
  --color-main-950: var(--color-purple-950);
  --color-success-50: var(--color-green-50);
  --color-success-100: var(--color-green-100);
  --color-success-200: var(--color-green-200);
  --color-success-300: var(--color-green-300);
  --color-success-400: var(--color-green-400);
  --color-success-default: var(--color-green-500);
  --color-success-600: var(--color-green-600);
  --color-success-700: var(--color-green-700);
  --color-success-800: var(--color-green-800);
  --color-success-900: var(--color-green-900);
  --color-success-950: var(--color-green-950);
  --color-neutral-50: var(--color-grey-50);
  --color-neutral-100: var(--color-grey-100);
  --color-neutral-150: var(--color-grey-150);
  --color-neutral-300: var(--color-grey-300);
  --color-neutral-400: var(--color-grey-400);
  --color-neutral-default: var(--color-grey-500);
  --color-neutral-600: var(--color-grey-600);
  --color-neutral-700: var(--color-grey-700);
  --color-neutral-800: var(--color-grey-800);
  --color-neutral-900: var(--color-grey-900);
  --color-neutral-950: var(--color-grey-950);
  --color-neutral-200: var(--color-grey-200);
  --color-neutral-1000: var(--color-grey-1000);
  --color-neutral-1100: var(--color-grey-1100);
  --color-neutral-black: var(--color-black);
  --color-neutral-white: var(--color-white);
  --color-neutral-250: var(--color-grey-250);
  --color-neutral-75: var(--color-grey-75);
  --color-neutral-350: var(--color-grey-350);

  /* SEMANTIC */
  --surface-avatar-background-avatar_red: var(--color-red-500);
  --surface-avatar-background-avatar_yellow: var(--color-yellow-500);
  --surface-avatar-background-avatar_orange: var(--color-orange-500);
  --surface-avatar-background-avatar_blue: var(--color-blue-500);
  --surface-avatar-background-avatar_green: var(--color-green-500);
  --surface-avatar-background-avatar_purple: var(--color-purple-500);
  --surface-avatar-background-avatar_pink: var(--color-pink-500);
  --surface-avatar-background-avatar_black: var(--color-black);
  --surface-avatar-background-avatar_white: var(--color-neutral-250);
  --surface-background: var(--color-neutral-50);
  --surface-sidebar: var(--color-neutral-100);
  --surface-upgrade_card: var(--color-neutral-300);
  --surface-button-primary_button: var(--color-main-default);
  --surface-upgrade_icon: var(--color-neutral-950);
  --surface-user_profile: var(--color-neutral-150);
  --surface-button-primary_button_hover: var(--color-main-600);
  --surface-button-secondary_button: var(--color-neutral-50);
  --navigation_list_hover: var(--color-neutral-150);
  --navigation_list_selected: var(--color-neutral-250);
  --surface-result_card: var(--color-neutral-950);
  --surface-opponent_matching_card: var(--color-neutral-100);
  --surface-topic_card: var(--color-neutral-100);
  --surface-matching_card_frame: var(--color-neutral-950);
  --surface-button-secondary_button_hover: var(--color-neutral-100);
  --surface-button-theme_button: var(--color-neutral-250);
  --surface-account_pop_up_card: var(--color-neutral-150);
  --surface-button-theme_button_hover: var(--color-neutral-300);
  --surface-monthly_summary: var(--color-neutral-75);
  --surface-winning_data: var(--color-main-50);
  --surface-losing_data: var(--color-main-50);
  --surface-score_card: var(--color-neutral-75);
  --surface-debate_evaluation_card: var(--color-neutral-75);
  --surface-debate_evaluation_card_hover: var(--color-neutral-100);
  --surface-debate_history_card_frame: var(--color-neutral-75);
  --surface-debate_history_card_hover: var(--color-neutral-150);
  --text-header_secondary: var(--color-neutral-default);
  --text-body: var(--color-neutral-950);
  --surface-button-surrender_button: var(--color-neutral-900);
  --surface-button-end_argument_button: var(--color-orange-600);
  --surface-debate_main_icon: var(--color-main-default);
  --surface-user-card-user_card_red: var(--color-red-500);
  --surface-user-card-user_card_yellow: var(--color-yellow-500);
  --surface-user-card-user_card_orange: var(--color-orange-500);
  --surface-user-card-user_card_blue: var(--color-blue-500);
  --surface-user-card-user_card_green: var(--color-green-500);
  --surface-user-card-user_card_purple: var(--color-purple-300);
  --surface-user-card-user_card_pink: var(--color-pink-500);
  --surface-user-card-user_card_black: var(--color-black);
  --surface-user-card-user_card_white: var(--color-neutral-default);
  --surface-opponent_card: var(--color-neutral-900);
  --border-voice_to_chat: var(--color-neutral-300);
  --surface-date_pointer: var(--color-neutral-950);
  --surface-date_pointer_circle: var(--color-neutral-950);
  --surface-button-theme_button_selected: var(--color-neutral-350);
  --text-card-matching-card-header: var(--color-neutral-50);
  --text-date: var(--color-neutral-700);
  --text-header_primary: var(--color-neutral-1100);
  --text-x_axis_number: var(--color-neutral-700);
  --border-upgrade_card: var(--color-neutral-300);
  --text-button-primary_button: var(--color-neutral-50);
  --text-button-secondary_button: var(--color-neutral-1100);
  --text-card-matching-card-body: var(--color-neutral-950);
  --text-card-header: var(--color-neutral-1100);
  --text-card-body: var(--color-neutral-950);
  --text-card-date: var(--color-neutral-700);
  --text-button-theme_button: var(--color-neutral-1100);
  --text-nav: var(--color-neutral-1100);
  --surface-nav_hover: var(--color-neutral-150);
  --surface-nav_selected: var(--color-neutral-250);
  --text-card-result-card-header: var(--color-neutral-50);
  --text-card-result-card-body: var(--color-neutral-100);
  --text-card-monthly-selector-date: var(--color-neutral-50);
  --surface-user_profile_hover: var(--color-neutral-250);
  --surface-user_profile_selected: var(--color-neutral-300);
  --surface-loading_circle: var(--color-neutral-1100);
  --border-evaluation_card-red: var(--color-red-500);
  --border-evaluation_card-yellow: var(--color-yellow-500);
  --border-evaluation_card-orange: var(--color-orange-500);
  --border-evaluation_card-blue: var(--color-blue-500);
  --border-evaluation_card-green: var(--color-green-500);
  --border-evaluation_card-purple: var(--color-purple-500);
  --border-evaluation_card-pink: var(--color-pink-500);
  --border-evaluation_card-white: var(--color-neutral-250);
  --border-score_card-logic: var(--color-blue-500);
  --border-score_card-composition: var(--color-pink-500);
  --border-score_card-argument: var(--color-green-600);
  --border-score_card-proficiency: var(--color-orange-400);

  /* RESPONSIVE */
  --header-xxl: 56px;
  --header-xxl-rem: 3.5rem;
  --header-xl: 40px;
  --header-xl-rem: 2.5rem;
  --header-l: 32px;
  --header-l-rem: 2rem;
  --header-r: 24px;
  --header-r-rem: 1.5rem;
  --header-s: 18px;
  --header-s-rem: 1.125rem;
  --header-xs: 16px;
  --header-xs-rem: 1rem;
  --header-xxs: 14px;
  --header-xxs-rem: 0.875rem;
  --body-l: 20px;
  --body-l-rem: 1.25rem;
  --body-r: 16px;
  --body-r-rem: 1rem;
  --body-s: 14px;
  --body-s-rem: 0.875rem;
  --body-xs: 12px;
  --body-xs-rem: 0.75rem;
  --line_height-header-xxl: 88px;
  --line_height-header-xxl-rem: 5.5rem;
  --line_height-header-xl: 64px;
  --line_height-header-xl-rem: 4rem;
  --line_height-header-l: 52px;
  --line_height-header-l-rem: 3.25rem;
  --line_height-header-r: 40px;
  --line_height-header-r-rem: 2.5rem;
  --line_height-header-s: 28px;
  --line_height-header-s-rem: 1.75rem;
  --line_height-header-xs: 24px;
  --line_height-header-xs-rem: 1.5rem;
  --line_height-header-xxs: 22px;
  --line_height-header-xxs-rem: 1.375rem;
  --line_height-body-l: 32px;
  --line_height-body-l-rem: 2rem;
  --line_height-body-r: 24px;
  --line_height-body-r-rem: 1.5rem;
  --line_height-body-s: 22px;
  --line_height-body-s-rem: 1.375rem;
  --line_height-body-xs: 20px;
  --line_height-body-xs-rem: 1.25rem;
}
